/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Segoe UI', sans-serif;
}

/* Optional: Smooth rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-app-region: drag;
}
/* in index.css or component */
.drag-region {
  -webkit-app-region: drag;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

